@font-face {
  font-family: "Euclid";
  src: url("../assets/fonts/EuclidCircular-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid";
  src: url("../assets/fonts/EuclidCircular-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid";
  src: url("../assets/fonts/EuclidCircular-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
