/* Import fonts perso */
@import "./fonts.css";

/* --- 0. VARIABLES --- */
:root {
  /* font */
  --euclid: "Euclid", Arial, sans-serif;
  --jost: "Jost", Arial, sans-serif;

  /* dégradés */
  --main-gradient: radial-gradient(256.67% 56.7% at 23.76% 54.58%, #fa5842 0%, #7454c9 100%);
  --project-1-gradient: linear-gradient(90deg, #e7e7db 0%, #f3e2db 52.88%);
  --project-2-gradient: linear-gradient(90deg, #ad6650 0%, #e5baaa 24.52%);
  --project-3-gradient: radial-gradient(
    256.67% 56.7% at 23.76% 54.58%,
    #f8c050 16.88%,
    #c7305b 79.13%,
    #5a018d 100%
  );
  --project-4-gradient: radial-gradient(
    256.67% 56.7% at 23.76% 54.58%,
    #c10010 36.06%,
    #000 50%,
    #240873 100%
  );
  --project-5-gradient: radial-gradient(
    256.67% 56.7% at 23.76% 54.58%,
    #313042 0%,
    #313040 38.46%,
    #ff7a1f 69.71%
  );
}

/* --- 1. CONFIGURATION GÉNÉRALE --- */
body {
  font-family: var(--euclid);
  overflow: hidden;
}

/* --- 2. HEADER --- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;

  /* style temporaire */
  display: flex;
  align-items: center;
  border: 1px solid red;
}

/* --- 3. CLASSE SLIDE ANIMATION --- */
.slide {
  width: 100%;
  height: 100vh;
  position: relative;

  /* contenu visuel temporaire */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- 4. PARTIE INTRO --- */
.intro-wrapper {
  width: 100%;

  /* fond temporaire */
  background: linear-gradient(to bottom, #ff9a9e 0%, #fad0c4 50%, #fbc2eb 100%);
}

.intro-wrapper .slide {
  background-color: transparent;
}

/* --- 5. PARTIE PROJET --- */
.projetcs-wrapper {
  background-color: #fff;
  position: relative;
  z-index: 10;
}

/* ligne visuelle temporaire pour voire les différentes parties */
.projects-wrapper .slide {
  border-bottom: 1px solid blue;
}

/* --- 6. FOOTER --- */
.footer {
  background-color: orange;
}
