/* Import fonts perso */
@import "./fonts.css";

/* --- 0. VARIABLES --- */
:root {
  /* font */
  --euclid: "Euclid", Arial, sans-serif;
  --jost: "Jost", Arial, sans-serif;

  /* couleurs et dégradés */
  --white: #ffffff;
  --main-gradient: radial-gradient(256.67% 56.7% at 23.76% 54.58%, #fa5842 0%, #7454c9 100%);
  --project-1-gradient: linear-gradient(90deg, #e7e7db 0%, #f3e2db 52.88%);
  --project-2-gradient: linear-gradient(90deg, #ad6650 0%, #e5baaa 24.52%);
  --project-3-gradient: radial-gradient(
    256.67% 56.7% at 23.76% 54.58%,
    #f8c050 16.88%,
    #c7305b 79.13%,
    #5a018d 100%
  );
  --project-4-gradient: radial-gradient(
    256.67% 56.7% at 23.76% 54.58%,
    #c10010 36.06%,
    #000 50%,
    #240873 100%
  );
  --project-5-gradient: radial-gradient(
    256.67% 56.7% at 23.76% 54.58%,
    #313042 0%,
    #313040 38.46%,
    #ff7a1f 69.71%
  );
}

/* --- 1. CONFIGURATION GÉNÉRALE --- */

/* cacher barre de scroll Chrome, Safari, Opera */
::-webkit-scrollbar {
  display: none;
}

/* cacher barre de scroll pour IE, Edge et Firefox */
body,
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* rem calcul */
html {
  /* 62.5% de 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: var(--euclid);
  overflow: hidden;
  font-size: 1.6rem;
}

/* --- 2. HEADER --- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;

  /* style temporaire */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

header nav ul {
  display: flex;
  gap: 20px;
}

.nav-link {
  cursor: pointer;
}

/* --- 3. CLASSE SLIDE ANIMATION --- */
.slide {
  width: 100%;
  height: 100vh;
  position: relative;

  /* contenu visuel temporaire */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- 4. PARTIE INTRO --- */
.intro-box {
  padding: 8px;
}

.intro-wrapper {
  width: 100%;

  /* fond temporaire */
  /* background: linear-gradient(to bottom, #ff9a9e 0%, #fad0c4 50%, #fbc2eb 100%); */
  background-image: url("/src/assets/images/degrade-hd.png");
  background-size: cover;
  background-position: center-top;
  background-repeat: no-repeat;
  border-radius: 4rem;
}

.intro-wrapper .slide {
  background-color: transparent;
}

/* hero slide */
section.hero {
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.hero-logo {
  width: 40rem;
  height: auto;
  fill: var(--white);
}

.hero-name {
  position: absolute;
  bottom: 4%;
  left: 2.5%;
}

.hero-name p {
  font-size: 4rem;
  font-weight: 300;
}

/* presentation slide */
.presentation {
  padding: 15rem;
  justify-content: center;
  gap: 150px;
}

.presentation-text {
  font-size: 6rem;
  font-weight: 500;
  color: var(--white);
  width: 70rem;
  line-height: 130%;
}

.presentation-img-group {
  /* border: 5px solid red; */
  position: relative;
  width: 41.3rem;
  height: 58rem;
}
.presentation-img-group img {
  position: absolute;
}
.presentation-img1 {
  bottom: 0px;
  left: 0px;
  z-index: 10;
}
.presentation-img2 {
  bottom: 38px;
  left: 38px;
  z-index: 20;
}
.presentation-img3 {
  top: 0px;
  right: 0px;
  z-index: 30;
}

/* --- 5. PARTIE PROJET --- */
.projetcs-wrapper {
  background-color: var(--white);
  position: relative;
  z-index: 10;
}

/* ligne visuelle temporaire pour voire les différentes parties */
.projects-wrapper .slide {
  border-bottom: 1px solid blue;
}

/* --- 6. FOOTER --- */
.footer {
  background-color: orange;
}
