/* Import fonts perso */
@import "./fonts.css";

/* --- 0. VARIABLES --- */
:root {
  /* font */
  --euclid: "Euclid", Arial, sans-serif;
  --jost: "Jost", Arial, sans-serif;

  /* couleurs et dégradés */
  --white: #ffffff;
  --main-gradient: linear-gradient(88deg, #fa5842 3.7%, #7454c9 79.26%);
  --project-1-gradient: linear-gradient(90deg, #e7e7db 0%, #f3e2db 52.88%);
  --project-2-gradient: linear-gradient(90deg, #ad6650 0%, #e5baaa 24.52%);
  --project-3-gradient: linear-gradient(90deg, #f8c050 30.82%, #c7305b 65.78%, #5a018d 102.99%);
  --project-4-gradient: linear-gradient(90deg, #c10010 37.91%, #000 49.07%, #240873 101.37%);
  --project-5-gradient: linear-gradient(90deg, #313042 2.86%, #313040 66.77%, #ff7a1f 97.32%);
}

/* --- 1. CONFIGURATION GÉNÉRALE --- */

/* cacher barre de scroll Chrome, Safari, Opera */
::-webkit-scrollbar {
  display: none;
}

/* cacher barre de scroll pour IE, Edge et Firefox */
body,
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* rem calcul */
html {
  /* 62.5% de 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: var(--euclid);
  overflow: hidden;
  font-size: 1.6rem;
}

/* texxt styles */
.text-head {
  font-size: 12rem;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  position: relative;
  top: -0.1em;
}

p {
  font-size: 2rem;
  line-height: 140%;
}

h1 {
  font-weight: 600;
  font-size: 43rem;
  line-height: 120%;
}

h2 {
  font-weight: 600;
  font-size: 10rem;
  background: var(--main-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 120%;
}

/* --- 2. HEADER --- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;

  /* style temporaire */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

header nav ul {
  display: flex;
  gap: 20px;
}

.nav-link {
  cursor: pointer;
}

/* --- 3. CLASSE SLIDE ANIMATION --- */
.slide {
  width: 100%;
  height: 100vh;
  position: relative;

  /* contenu visuel temporaire */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- 4. PARTIE INTRO --- */
.intro-box {
  padding: 0.8rem 0.8rem 0 0.8rem;
}

.intro-wrapper {
  width: 100%;
  /* fond temporaire */
  /* background: linear-gradient(to bottom, #ff9a9e 0%, #fad0c4 50%, #fbc2eb 100%); */
  background-image: url("/src/assets/images/degrade-hd.png");
  background-size: cover;
  background-position: center-top;
  background-repeat: no-repeat;
  border-radius: 4rem;
}

.intro-wrapper .slide {
  background-color: transparent;
  max-height: calc(100vh - 0.6rem);
}

/* hero slide */
section.hero {
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.hero-logo {
  width: 40rem;
  height: auto;
  fill: var(--white);
}

.hero-name {
  position: absolute;
  bottom: 4%;
  left: 2.5%;
}

.hero-name p {
  font-size: 4rem;
  font-weight: 300;
}

/* presentation slide */
.presentation {
  padding: 15rem;
  justify-content: center;
  gap: 150px;
}

.presentation-text {
  font-size: 6rem;
  font-weight: 500;
  color: var(--white);
  width: 70rem;
  line-height: 130%;
}

.presentation-img-group {
  /* border: 5px solid red; */
  position: relative;
  width: 41.3rem;
  height: 58rem;
}
.presentation-img-group img {
  position: absolute;
}
.presentation-img1 {
  bottom: 0px;
  left: 0px;
  z-index: 10;
}
.presentation-img2 {
  bottom: 38px;
  left: 38px;
  z-index: 20;
}
.presentation-img3 {
  top: 0px;
  right: 0px;
  z-index: 30;
}

/* skills slide */
.skills {
  padding: 13rem 0 0 0;
  flex-direction: column;
  color: var(--white);
  justify-content: flex-start;
}

.skills-wrapper-small {
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.skills-wrapper-small > div {
  height: 102%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-wrapper-small:nth-child(1) {
  border-top: 2px solid var(--white);
}

.skills-wrapper-small-ellipse1 {
  border-top: 2px solid var(--white);
  border-right: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  border-radius: 0px 500px 500px 0px;
  flex-grow: 1;
}
.skills-wrapper-small-ellipse2 {
  border: 2px solid var(--white);
  border-radius: 500px;
  backdrop-filter: blur(20px);
  flex-grow: 1;
  flex-direction: column;
}
.skills-wrapper-small-ellipse2 p {
  font-size: 2rem;
  font-weight: 600;
}
.skills-wrapper-small-ellipse2 span {
  font-weight: 300;
}

.skills-wrapper-small-circle1 p {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.skills-wrapper-small-circle1 span {
  font-weight: 300;
}

.skills-wrapper-small-circle2 {
  backdrop-filter: blur(10px);
  margin-left: -20.2rem;
  position: relative;
  z-index: 10;
}

.skills-wrapper-small-circle1,
.skills-wrapper-small-circle2,
.skills-wrapper-small-circle3 {
  border: 2px solid var(--white);
  aspect-ratio: 1/1;
  border-radius: 500%;
}

.skills-wrapper-small:nth-child(2) {
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-wrapper-bot {
  flex-grow: 1;
  width: 100%;
  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-map {
  width: 100%;
  height: 80%;
  border: 2px solid white;
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  border-radius: 500px 500px 500px 500px;
  overflow: hidden;
}
.skills-map > div {
  flex-grow: 1;
  height: 102%;
  border-radius: 0% 500px 500px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-map > div:first-child {
  border-radius: 500px 500px 500px 500px;
  border-top: 2px solid var(--white);
  border-right: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
}
.skills-map > div:nth-child(2),
.skills-map > div:nth-child(3) {
  border-top: 2px solid var(--white);
  border-right: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
}

.skills-map > div:nth-child(4) {
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
}

.skills-map > div > div > p:first-child {
  font-size: 3rem;
  font-weight: 500;
}
.skills-map > div > div > p:last-child {
  font-weight: 300;
}

/* --- 5. PARTIE PROJET --- */
.projects-wrapper {
  background-color: var(--white);
  position: relative;
  z-index: 30;
}

.project-item > img {
  width: 33%;
  height: auto;
  position: absolute;
  border-radius: 8%;
}

/* 01 */
.project-item > h2 {
  position: absolute;
  top: 6%;
}

.projects-wrapper > section:first-child > h1 {
  background: linear-gradient(90deg, #e7e7db 0%, #f3e2db 52.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projects-wrapper > section:first-child > img {
  top: 25%;
  box-shadow: 11px 100px 104.4px -48px rgba(148, 112, 95, 0.61);
}

/* 02 - 05 cover */
.projects-wrapper > section:nth-child(2) > img,
.projects-wrapper > section:nth-child(3) > img,
.projects-wrapper > section:nth-child(4) > img,
.projects-wrapper > section:nth-child(5) > img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 02 */
.projects-wrapper > section:nth-child(2) > h1 {
  font-size: 42rem;
  background: var(--project-2-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projects-wrapper > section:nth-child(2) > img {
  box-shadow: 11px 100px 104.4px -48px rgba(204, 133, 96, 0.24);
}

/* 03 */
.projects-wrapper > section:nth-child(3) > h1 {
  font-size: 48.5rem;
  background: var(--project-3-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2%;
}
.projects-wrapper > section:nth-child(3) > img {
  box-shadow: 11px 100px 104.4px -48px rgba(255, 149, 10, 0.339);
}

/* 04 */
.projects-wrapper > section:nth-child(4) > h1 {
  font-size: 54rem;
  background: var(--project-4-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 6%;
}
.projects-wrapper > section:nth-child(4) > img {
  box-shadow: 11px 100px 104.4px -48px rgba(78, 0, 1, 0.33);
}

/* 05 */
.projects-wrapper > section:nth-child(5) > h1 {
  font-size: 37rem;
  background: var(--project-5-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3%;
}
.projects-wrapper > section:nth-child(5) > img {
  box-shadow: 11px 100px 104.4px -48px rgba(6, 0, 41, 0.33);
}

/* --- 6. FOOTER --- */
.footer {
  background-color: orange;
}
